.choose{
	height: 90vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
.choose-main{
	min-height: 60vh;
	width: 40vw;
	color: #232946;
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	box-shadow: var(--main-shadow);
}
.choose-main-buttons button{
	background-color:var(--main-color);
	color:#232946;
	border: 1px solid #232946;
	padding: 5px 20px;
	font-family: var(--main-font-text);
	font-size: 2rem;
	margin: 0px 10px;
	border-radius: 5px;
	cursor: pointer;
	transition: 200ms;
}
.choose-main-buttons button:hover{
	color: black;
	transform: translateY(-2px);
}
@media (max-width: 1536px) {
}
@media (max-width: 1280px) {
	.choose-main{
		width: 70vw;
	}
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
	.choose-main{
		width: 90vw;
	}
}
@media (max-width: 640px) {
}
@media (max-width: 475px) {
}