@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*,::before,::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
  font-size: 62.5%;
  
}
:root{
  --main-font:'Playfair Display', serif;
  --main-font-text:'Poppins', sans-serif;
  --main-color:#eebbc3;
  --main-shadow:rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
body{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23000000' fill-opacity='0.05'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}
h1{
  font-size: 5rem;
  text-align: center;
  font-family: var(--main-font);
}
p{
  font-size: 2rem;
  text-align: center;
  font-family: var(--main-font);
}
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}
